@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

:root {
    --figura: rgb(25, 25, 25);
    --fondo: rgb(240, 240, 240);
}

* {
    margin: 0;
    padding: 0;
    transition: color ease 1s;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    color: var(--figura);
    background: var(--fondo);
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    color: #000;
}

header, main, footer {
    width: 90vw;
    margin: 0;
    padding: 5vh 5vw;
}

header h1 {
    line-height: 1;
    font-size: 2rem;
}